    <div class="tool" id="aircraft-checker">
        <div class="window window-tool">
            <div class="title">
                Aircraft Checker &#9432;
            </div>
            <div class="content">
                <div class="line">
                    Aircraft ICAO Code<b class="spacer">&nbsp;</b><input id="aircraft-input" placeholder="e.g. B738"
                                                                         type="text"/>
                </div>
            </div>
            <div class="content">
                <div class="line">
                    Details
                </div>
                <div class="line">
                    <div class="output" id="aircraft-details">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>