    <div class="tool" id="callsign-checker">
        <div class="window window-tool">
            <div class="title">
                Callsign Checker &#9432;
            </div>
            <div class="content">
                <div class="line">
                    Callsign Prefix<b class="spacer">&nbsp;</b><input id="airline-input" placeholder="e.g. QFA"
                                                                      type="text"/>
                </div>
            </div>
            <div class="content">
                <div class="line">
                    Details
                </div>
                <div class="line">
                    <div class="output" id="airline-details">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>