$primary-color: #600000;
$background-color: #A0AAAA;
$input-text-color: #3b3b3b;
$font: Consolas, sans-serif;
$button-text: rgb(0, 0, 96);
$button-down: rgb(130, 146, 146);
$button-border-top: rgb(102, 102, 102);
$button-border-bottom: white;