
html
{
overflow:auto;
}

input
{
    font-family: "Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    height:18px;
    align:right;
    color: #000060;
    background: #a0aaaa;
    border-width: 2px;
    border-color:#EEEEEE;
}

.headrow {
background-color:#a0aaaa;
font-size:14px;
color:#000060;
height:30px; 

}

.bluelad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#000060;
}

.cyanlad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#33FFFF;
}

.greenlad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#006600;
}
.whitelad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#FFFFFF;
}
.orangelad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#FF9900;
}
.redlad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#600000;
}
.yellowlad
{
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:18px;
    color:#eeff00;
}

.container{
    border-color:#600000;
    border-style:solid;
    border-width: 2px;    
    background-color:#a0aaaa;
    position:fixed;
    height:300px;
    width:620px;
    top:0px;
    left:0px;
    font-size:14px;
    font-weight: bold;
    color:#600000;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    vertical-align:top;
    }

td.buttsmall {
    color:#000060;
    align:left;
    text-align:center;
    vertical-align:middle;
    background-color:#a0aaaa;
    height:22px;
    border-width:2px;
    padding: 2px;
    border-style:solid;
    border-color:#666666;
    background-color:#a0aaaa;
    border-top-color: #EEEEEE;
    border-left-color: #EEEEEE;
    border-bottom-width: 1px;
    border-right-width: 1px;
    font-size:18px;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    width:110px;
}

td.buttsmallin {
    color:#000060;
    align:left;
    text-align:center;
    vertical-align:middle;
    background-color:#829292;
    height:22px;
    border-width:2px;
    padding: 2px;
    border-style:solid;
    border-color:#666666;
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    border-bottom-width: 1px;
    border-right-width: 1px;
    font-size:18px;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    width:110px;
}

div.topmen{
    border-color:#CCCCCC;
    border-style:none;
    background-color:#a0aaaa;
    position:fixed;
    height:80px;
    width:620px;
    top:30px;

    font-size:14px;
    color:#000060;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    vertical-align:middle;
}

div.topbar{
    border-color:#600000;
    border-style:solid;
    border-width: 2px;
    border-bottom-width: 1px;
    background-color:#a0aaaa;
    position:fixed;
    height:24px;
    width:620px;
    top:0px;
    left:0px;
    font-size:14px;
    font-weight: bold;
    color:#600000;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    vertical-align:top;
    }
    

.sunken {
    border-width:1px;
    padding: 2px;
    spacing: 2px;
    border-style:solid;
    border-color:#666666;	
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    border-bottom-width: 1px;
    border-right-width: 1px;
    background-color:#a0aaaa;
}

.sunkenInput {
    border-width:1px;
    padding: 2px;
    spacing: 6px;
    font-family:"Terminus (TTF)", courier, monospace, sans-serif;
    font-size:14px;
    color:#000060;
    text-align: right;
    border-style:solid;
    border-color:#666666;	
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    border-bottom-width: 1px;
    border-right-width: 1px;
    background-color:#a0aaaa;
    }
    
    .sunkenInput:focus {
        border-width:1px;
        padding: 2px;
        spacing: 3px;
        outline: none;
        border-color: rgb(0, 255, 255);
        
    }
        
    